@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --spotify-green: #1ed760;
  --spotify-black: #121212;
  --spotify-white: #ffffff;
  --spotify-gray-100: #b3b3b3;
  --spotify-gray-200: #535353;
  --spotify-gray-300: #212121;
  --spotify-blue: #4687d6;
  --spotify-red: #ff7eb9;
}

body {
  background-color: var(--spotify-black);
  color: var(--spotify-white);
}

@layer utilities {
  .bg-spotify-green {
    background-color: var(--spotify-green);
  }
  .text-spotify-green {
    color: var(--spotify-green);
  }
  .bg-spotify-black {
    background-color: var(--spotify-black);
  }
  .bg-spotify-gray-100 {
    background-color: var(--spotify-gray-100);
  }
  .bg-spotify-gray-200 {
    background-color: var(--spotify-gray-200);
  }
  .bg-spotify-gray-300 {
    background-color: var(--spotify-gray-300);
  }
  .text-spotify-gray-100 {
    color: var(--spotify-gray-100);
  }
  .border-spotify-gray-200 {
    border-color: var(--spotify-gray-200);
  }
  .bg-spotify-red {
    background-color: var(--spotify-red);
  }
  .text-spotify-red {
    color: var(--spotify-red);
  }
}

/* Smooth background transition */
.bg-spotify-black,
.bg-spotify-gray-200,
.bg-spotify-gray-300 {
  transition: background-color 0.3s ease;
}

.text-spotify-green,
.text-spotify-gray-100,
.text-white {
  transition: color 0.3s ease;
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0.9) translateY(20px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-popup {
  animation: popup 0.3s ease-out forwards;
}
